<div class="container py-4">
  <div class="<%= class_names("card border-secondary shadow-lg", game_environment_classes(@player, @environment_location)) %>">
    <%= render "header" %>

    <div class="card-body">
      <%= render "messages" %>

      <% selected_panel = params[:panel].presence %>
      <% equipped_weapon = @player.equipped_weapon %>
      <% equipped_weapons = @player.equipped_weapons %>

      <div class="row">
        <%= render "left_column", selected_panel: selected_panel, equipped_weapons: equipped_weapons %>
        <%= render "center_column", selected_panel: selected_panel, equipped_weapon: equipped_weapon, equipped_weapons: equipped_weapons %>
        <%= render "right_column", selected_panel: selected_panel, equipped_weapon: equipped_weapon %>
      </div>

      <%= render "footer" %>
    </div>
  </div>
</div>
